<?xml version="1.0" encoding="utf-8"?>
<plugin
    xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-bluetooth-classic"
    version="1.0.2">

    <name>Bluetooth Classic</name>
    <description></description>
    <license>Apache 2.0</license>
    <keywords>keywords</keywords>

    <repo>https://github.com/blakeparkinson/cordova-bluetooth-classic.git</repo>
    <issue>https://github.com/blakeparkinson/cordova-bluetooth-classic/issues</issue>

    <!-- cordova -->
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/BluetoothClassicPlugin.js" name="BluetoothClassicPlugin">
        <clobbers target="BluetoothClassic" />
    </js-module>


    <platform name="android">
        <config-file target="res/xml/config.xml">
            <feature name="BluetoothClassicPlugin" >
              <param name="android-package" value="BluetoothClassicPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/BluetoothClassicPlugin.java" target-dir="src/org/apache/cordova/BluetoothClassic" />

    </platform>
</plugin>
