<?xml version="1.0" encoding="utf-8"?>
<plugin
    xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-bluetooth-classic"
    version="1.0.2">

    <name>Bluetooth Classic</name>
    <description></description>
    <license>Apache 2.0</license>
    <keywords>keywords</keywords>

    <repo>https://github.com/blakeparkinson/cordova-bluetooth-classic.git</repo>
    <issue>https://github.com/blakeparkinson/cordova-bluetooth-classic/issues</issue>

    <js-module src="www/BluetoothClassicPlugin.js" name="bluetoothclassicplugin">
        <clobbers target="BluetoothClassic" />
    </js-module>

    <platform name="ios">

        <config-file target="config.xml">
            <feature name="BluetoothClassicPlugin">
                <param name="ios-package" value="BluetoothClassicPlugin" onload="true"/>
            </feature>
        </config-file>


        <!-- frameworks -->
        <framework src="CoreBluetooth.framework" />

    </platform>

    <platform name="BluetoothClassicPlugin">
        <config-file target="res/xml/config.xml">
            <feature name="BluetoothClassicPlugin" >
            </feature>
        </config-file>

        <source-file src="src/android/BluetoothClassicPlugin.java" target-dir="src/org/apache/cordova/BluetoothClassic" />

        <js-module src="BluetoothClassicPlugin.js" name="BluetoothClassicPlugin">
            <runs />
        </js-module>
    </platform>
</plugin>
